<div class="playlist">
  <div class="container">
    <!--Video Thumbnail------------------------------------------------------->
    <div class="videobtn">

      <img src="<%=match.thumbnail%>" alt="" width="100%">

    </div>
    <!--Video Details------------------------------------------------------->
    <div class="viddetails">
      <!--Video Name and Date------------------------------------------------------->
      <div class="row">
        <a href="/mview_display?match_id=<%=match.id%>">
          <p>
            <%=match.title%>
          </p>
        </a>
        <br>
        <p>
          <%=match.createdAt%>
        </p>
      </div>
      <!--Video Descriptions------------------------------------------------------->
      <div class="row">
        <p>
          <%=match.description%>
        </p>
      </div>
      <!--btns------------------------------------------------------->
      <div class="row">
        <div class="btnsgrp">
          <button class="editbtn"><a href="/editmatch?match_id=<%=match.id%>">
              Edit</a></button>
          <form action="/deletematch/ <%=match.id%>" method="post">
            <button class="delbtn">
              Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
