<link rel="stylesheet" href="css/matchList.css">
<div class="playlist">
  <a class=container href="/mview_display?match_id=<%=match.id%>">

      <!--Video Thumbnail------------------------------------------------------->
      <div class="videobtn">
        <img src="<%=match.thumbnail%>" alt="" width="100%">
      </div>
      <!--Video Details------------------------------------------------------->
      <div class="viddetails">
        <!--Video Name and Date------------------------------------------------------->
        <div class="row">
          <h3>
            <%=match.title%>
          </h3>
          <br>
          <p>
            <%=match.createdAt%>
          </p>
        </div>
        <!--Video Descriptions------------------------------------------------------->
        <div class="row">
          <p>
            <%=match.description%>
          </p>
        </div>

    </div>
  </a>
</div>
