<!DOCTYPE html>
<html>

<head>
  <title>Upload Page</title>
  <link rel="stylesheet" href="css/upload.css">
  <link rel="stylesheet" href="css/navbar.css">
</head>

<body>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <%- include('../partials/navbar'); %>

  <div class="bg-dark">

    <br>
    <br>

    <div class="universal-controls">
      <i id='pausebtn' class="fa fa-pause"></i>
      <i id='playbtn' class="fa fa-play"></i>
      <i id='stopbtn' class="fa fa-stop"></i>
    </div>


    <div id="frame2" class="border border-light border-4" style="width:95%; border-radius:10px; ">

      <div class="players">
        <% for(var i = 1; i<7;i++) {%>

        <div class="previewbox" id="box-<%=i%>">
          <div class="progress-bar-holder" id="progress-bar-holder<%=i%>">
            <div class="progress_bar" id="progress_bar<%=i%>"></div>
          </div>
          <div class="preview border border-secondary border-3 " style="padding:10px 15px; border-radius: 15px;">
            <div class="player">
              <video id="player<%=i%>" controls fluid class="cld-video-player">
              </video>
            </div>
            <div class="slider" id="slider<%=i%>"></div>

            <div class="playercontrols" id="player<%=i%>controls">
              <img src="./unmute.svg" width="40" class="muteToggleImg" id="mutebtn<%=i%>" />
              <div class="sec-controls">
                <label class="uploader" for="uploadinput<%=i%>">
                  <div class="upload" id="uploadbtn<%=i%>"><i class="fa fa-upload" aria-hidden="true"></i></div>
                  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
                  <input id="uploadinput<%=i%>" class="cloudinary-fileupload" data-cloudinary-field="image"
                    data-form-data="{&quot;upload_preset&quot;:&quot;dnqtrhtb&quot;}"
                    data-url="https://api.cloudinary.com/v1_1/dvapwslkg/auto/upload" name="file" type="file">
                </label>

                  <i id="removebtn<%=i%>"class="remove fa fa-times" aria-hidden="true"></i>

              </div>
            </div>

          </div>
        </div>
        <%}%>
        <div class=" matchinfo">

          <form action="/profile" method="get" id="uploadform">
            <div class="fields">
              <label id="title" for="title">Title:</label><br>
              <input id="titlebox" type="text" name="title"><br>
              <label id="desc" for="Description">Description:</label><br>
              <input id="descbox" type="text" name="description">
              <input type="hidden" name="match_id" value="<%=match.id%>" />
            </div>
              <select name="gametag" id="gametagSelection">
                <% for (var i=0;i<gametags.length;i++) {%>
                <option value="<%=gametags[i].id%>">
                  <%=gametags[i].name%>
                </option>
                <%}%>
                  </select>
          </form>

        </div>
        <% if(mode=='edit') {%>
        <% for (var i=0; i<match.videos.length;i++) {%>
              <input type="hidden" class="vidurl" value=<%=match.videos[i].link%>>
              <input type="hidden" class="vidid" value=<%=match.videos[i].id%>>
              <% } %>
              <% } %>
        <button id="submitbutton" type="submit" form="uploadform" value="Submit"
          class="btn btn-outline-primary border-4 ">Upload</button>
      </div>
    </div>

    <link href="cld-video-player.min.css" rel="stylesheet">
    <link href="nouislider.css" rel="stylesheet">
    <script src="nouislider.js"></script>
    <script src="cld-video-player.min.js" type="text/javascript"></script>
    <% if(mode=='edit') {%>
      <script>
        var videoslength = "<%=match.videos.length%>"
        var matchid = "<%=match.id%>"
        var videolinks = [];
        var videoids = [];

        var mode = "<%=mode%>";
        for (var i = 0; i < videoslength; i++) {
          videolinks.push(document.querySelectorAll('.vidurl')[i].value)
          videoids.push(document.querySelectorAll('.vidid')[i].value)
        }
        let cld = cloudinary.Cloudinary.new({
          cloud_name: 'dvapwslkg'
        })
      </script>
      <% } else{ %>
      <script>
        var matchinfo = {

        }
        var mode = "<%=mode%>";
        let cld = cloudinary.Cloudinary.new({
          cloud_name: 'dvapwslkg'
        })
      </script>
      <% } %>
          <script src="/jquery/jquery.min.js"></script>
          <!-- // the following files only need to be included in order to support client-side uploading -->
          <script src="/blueimp-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
          <script src="/blueimp-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
          <script src="/blueimp-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
          <script src="/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.js" type="text/javascript">
          </script>

          <!-- // functionality -->
          <script type="text/javascript" src="js/uploader/globalControls.js"></script>
          <script type="text/javascript" src="js/uploader/definePlayers.js"></script>
          <script type="text/javascript" src="js/uploader/defineSliders.js"></script>
          <script type="text/javascript" src="js/uploader/sliderEvents.js"></script>
          <script type="text/javascript" src="js/uploader/playerEvents.js"></script>
          <script type="text/javascript" src="js/uploader/muteBtn.js"></script>
          <script type="text/javascript" src="js/uploader/removeBtn.js"></script>
          <script type="text/javascript" src="js/uploader/upload.js"></script>
</body>

</html>
